.section-white {
  padding: 70px 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.team-item {
  background: #f4f5f6;
  text-align: center;
  margin: 20px 0;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.aboutProject {
  font-size: medium;
  color: #454545;
  text-align: center;
}

.portal {
  color: black;
  text-align: center;
}

.team-item h3 {
  margin: 20px 0 1px 0 !important;
  color: #454545;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.section-subtitle {
  white-space: pre-line;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: #acacac;
  font-style: italic;
}

.team-img {
  max-width: 140px;
  padding: 6px 6px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

ul.team-icon {
  margin-top: 25px;
}

ul.team-icon li {
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

ul.team-icon li a {
  margin: 0;
  display: inline-block;
  padding: 8px 8px;
  width: 34px;
  height: 34px;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
}

.github {
  text-decoration: none;
  color: #eab9c3;
  font-weight: bold;
  font-size: 16px;
  display: block;

  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.linkedIn {
  text-decoration: none;
  color: #eab9c3;
  font-weight: bold;
  font-size: 16px;
  display: block;

  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.portal {
  font-family: "Roboto", sans-serif;
  text-align: center;

  line-height: 18px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  color: #acacac;
  font-style: italic;
  border-radius: 5px;
  max-width: 900px;
}