.sidebarContainer {
  width: 150px;
  background-color: #FFFFFF;
  padding-top: 120px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 15px;
}

.NavLink:hover {
  background-color: #0056b3;
  border: 1px solid #0056b3;
}

.Link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.Link:hover {
  border: 1px solid black;
  text-decoration: none;
}